<div *ngIf="header.visible" class="column visible">
  {{seconds}}
  <div *ngIf="displayIssues">
    <!-- This pipe converts keys to issues and it only shows the visible ones according to filters -->
    <div *ngFor="let issue  of issueKeys | keyToIssueFilteredPipe: issues ; trackBy: issueTrackByFn">
      <app-board-issue
        [issue]="issue"
        [issueDetailState]="issueDetailState"
        (updateParallelTask)="onUpdateParallelTask($event)"
      ></app-board-issue>

    </div>
  </div>
</div>
<div *ngIf="!header.visible" class="column invisible">
  {{seconds}}
</div>
